aws_access_key = "your_access_key"
aws_secret_key = "your_secret_key"
aws_region = "your_region"
aws_key_name = "your_key_name"
aws_key_path = "your_key_path"
aws_instance_user = "your_aws_user"
aws_instance_type = "your_ami_instance_type"
